<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>GeThere</title>
    <meta name="description" content="GeThere Server" />
    <meta name="author" content="Dominik Burdzy" />

    <link th:href="@{/css/better_bootstrap.css}" rel="stylesheet" />
    <link th:href="@{http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script th:src="@{/js/jquery-2.1.3.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
</head>