<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" xmlns:th="http://www.thymeleaf.org">

    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--TODO - set appropriate html page-->
            <a class="navbar-brand" href="index" th:href="@{/index.html}" style="font-size: 300%; color: #ffffff; padding-left: 40px">
                <strong>GeThere</strong>
            </a>
        </div>
    </div>

</nav>
