<html>
<body>
<h1>Confirmation</h1>

<h3>Hi ${user.getUsername()}, welcome to the GeThere!</h3>

<div>
    To finish signing up for your account, please click the link below to confirm your email address.
    <br/>
    <br/>
    <a href="http://localhost:9000/registrationConfirm?token=${token}">ACTIVATION LINK</a>
</div>
</body>

</html>