<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:substituteby="common/head"></head>

<body>
<header th:substituteby="common/header"></header>
<br/><br/><br/>
<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
        <div th:substituteby="common/sidebar"></div>
        <div class="col-sm-9 col-md-10 main">
            <div class="row">
                <div class="col-md-10" style="text-align: center">
                    <div class="page-header">
                        <h3>Welcome to GeThere home page!</h3>
                    </div>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-md-2"/>
                <div class="col-md-3" style="text-align: center">
                    <form action="login.html">
                        <button class="btn btn-default btn-lg btn-primary" type="submit">Log in</button>
                    </form>
                </div>
                <div class="col-md-3" style="text-align: center">
                    <form action="register.html">
                        <button class="btn btn-default btn-lg btn-primary" type="submit">Sign up</button>
                    </form>
                </div>
                <div class="col-md-4"/>
            </div>
            <br/>
            <br/>
        </div>
    </div>
    <footer th:substituteby="common/footer"></footer>
</div>
</body>
</html>