<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:substituteby="common/head"></head>

<body>
<header th:substituteby="common/header"></header>
<br/><br/><br/>
<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
        <div th:substituteby="common/sidebar"></div>
        <div class="col-sm-9 col-md-10 main">
            <div class="form-signout form-horizontal">
                <div th:if="${addTypeError}" class="alert alert-danger">
                    This type of location currently exists!.<br/>
                </div>
                <div class="row ">
                    <div class="col-md-10">
                        <div class="page-header">
                            <h3>Add Type of Location</h3>
                        </div>
                        <br/>
                        <form th:action="@{/admin/type/addType.html}" method="post">
                            <div class="form-group">
                                <div class="col-md-5">
                                    <label th:for="login" style="font-size: 150%">Type Name:</label>
                                    <input class="form-control" type="text" id="type" name="type" placeholder="Enter a type name"/>
                                </div>
                            </div>
                            <div class="row">
                                <br/>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-lg btn-success">
                                        Add
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:substituteby="common/footer"></footer>
</div>
</body>
</html>